body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}   

main{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #333;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

#result{
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}

#arrayDisplay
{
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}